logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/null
/conf/application.conf
/public/
/node_modules
/conf/silhouette.conf
