.gtk-phone-list-container {
    margin: 0 auto;
    height: calc(100% - 0.95em);
    position: absolute;
    width: 100%;

}
.gtk-phone-grid-container {
    height: inherit;
    width: 100%;
    position: relative;
}
.gtk-phone-grid {
    height: inherit;
    margin-left:10px;
}
.gtk-phone-shadow {
    border-radius: 0;
    box-shadow: 0 0.3em 0.4em rgba(0,0,0,0.45);
}