/* eslint-disable */

:root{
  font-size: calc( 1vm - 0.6em);
  /*font-size:0.85em;*/
  box-sizing: border-box;
  margin: 0;
  /**/


}

@media (min-width: 50em) {
  :root {
    font-size:0.85em;
  }
}
body {
  margin: inherit;

}
*,::before,::after {
  box-sizing: inherit;

}
/*TODO one for all or ???*/
.gtk-shadow {
  border-radius: 0;
  box-shadow: 0 0.3em 0.4em rgba(0,0,0,0.45);
}




@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat'), url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: local('Montserrat'), url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: local('Montserrat'), url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
}

