
.gtk-manager-list-container {
    margin: 0 auto;
    height: calc(100% - 0.998em);
    min-height: 100%;
    position: absolute;
    width: 100%;


}
.gtk-manager-grid-container {
    height: inherit;
    width: 100%;
    position: relative;

}
.gtk-manager-grid {
    height: inherit;
    margin-right: 10px;
    border: 3px #B33962;
}
.gtk-manager-shadow {
    border-radius: 0;
    box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.45);
}
