.gtk-detail-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            'result manager'
            'result suptech';

    grid-row-gap: 10px;
}
.gtk-grid-result-container {
    grid-area: result;
    position: relative;
}

.gtk-grid-support-container {
    grid-area: suptech;
    position: relative;
}
.gtk-grid-manager-container{
    grid-area: manager;

    position: relative;
}
