.gtk_detail_container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            'manager'
            'suptech';

    grid-row-gap: 10px;
}

.gtk_grid_support_container {
    grid-area: suptech;
    background-color: #3d8b3d;
    position: relative;
}
.gtk_grid_manager_container{
    grid-area: manager;
    background-color: cyan;
    position: relative;
}
.gtk_grid_address_container {
    grid-area: supaddr;
    text-align: center;

}