.gtk-left-side-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            'company'
            'phone';
    grid-row-gap: 10px;
}

.gtk-grid-left-side-company {
    grid-area: company;
    position: relative;
}
.gtk-grid-left-side-phone{
    grid-area: phone;
    position: relative;
}
