.gtk-left-side-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:  'leftside';

    grid-row-gap: 10px;
}

.gtk-grid-left-side-company {
    height: 100%;
    grid-area: leftside;
    position: relative;
}

.gtk-tab-panel {
height: calc(100vh - 159px);
}