
.gtk-support-list-container {
    margin: 0 auto;
    height: calc(100% - 0.999em);
    position: absolute;
    width: 100%;

}
.gtk-support-grid-container {
    height: inherit;
    width: 100%;
    position: relative;
}
.gtk-support-grid {
    height: inherit;
    margin-right:10px;
}
.gtk-support-shadow {
    border-radius: 0;
    box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.45);
}