.gtk-header-section {
  text-align: center;
  font-family: Montserrat,'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 30em) {
  .gtk-header-section {
    text-align: center;
    font-size: 1em;
    font-family: Montserrat,'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (min-width: 50em) {
  .gtk-header-section {
    text-align: center;
    font-size: 1.5em;
    font-family: Montserrat,'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
